
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url(menu.css);
@import url(banner.css);
@import url(Blog.css);
@import url(info.css);
@import url(animation.css);
@import url(accesorios.css);
@import url(infoleer-contac.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{   
        font-family: 'Open Sans', sans-serif;
        
}
header{
    width: 100%;
    height: 50px;
    background-color:  rgb(3, 95, 78);
    color: aliceblue;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 100;
}
.Contenedor{
     width: 99%;
     margin: auto;
}
h1{
    float: left;
}
header .Contenedor{
    display: table;
    width: 100%;
    height: 50px;
    background-color:  rgb(3, 95, 78);
    color: aliceblue;
    position: fixed;
    top: 1%;
    left: 0%;
    z-index: 100;
}
.Contenedor a{
    margin-top: -10px;
   
}
section{
    width: 100%;
    margin-bottom: 40px;
} 
#Bienvenidos{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: 23px;
}
#Bienvenidos p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifSS;
    font-size: 19px;
}
footer.Contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.Copy{
    font-size: 25px;
}
.Sociales{
    width: 100%;
    text-align: center;
    font-size: 25px;
}
.Sociales a{
    color: rgb(0, 0, 0);
    text-decoration: none;

}


@media (min-width:1024px){
    .Contenedor{
        width: 1000px;
    }
}

